@import 'common';

// layout.scss 레이아웃

$ani_time:0.3s;
$box_center:0 auto;
// header
header{
  position:fixed; 
  top:0; left:0;
  width:100%;height:70px;
  z-index:1000;
  transition:$ani_time;

  > h1{
    padding:24px 0px 0px 2%;
  }
  > .nav_icon{
    width:40px;
    position:absolute;
    top:24px;
  }
  > .nav_icon span:last-child{
    display:none;
  }
  > .nav_icon span.fas{
    font-size:$t_size_t1;
    color:$txt_color2;
    cursor:pointer;
  }
  >.icon1{right:5%;}
  >.icon2{right:1%;}
}

//메인메뉴 서식
header nav{
  width:600px;
  margin:-24px auto;
}
header nav .gnb{
  // display:flex;
  // justify-content:space-around;
}
header nav .gnb a{
  color:$txt_color2;
  font-size:$t_size_m;
}
header nav .gnb a:hover{
  text-decoration:underline;
}
.gnb{
  display:flex;
  justify-content:space-around;
}

// footer
footer{
  background:$bg_color_g;
  height:177px;
}